body {
    background-color: rgb(48, 179, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
header {
    width: 100vw;
    height: 5vh;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

header>img {
    margin-left: 20px;
    height: 100px;
    width: 200px;
}

#circle {
    margin-top: 70px;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

#blue {
    height: 120px;
    width: 120px;
    background-color: rgb(16, 86, 143);
    border-top-left-radius: 100%;
    position: absolute;
    clip: circle(0px,120px,120px,0px);
    top: 15px;
    left: 20px;
}

#blue:hover {
    filter: drop-shadow(0 0 10px rgb(54, 140, 238));
    cursor: pointer;
}

#red {
    height: 120px;
    width: 120px;
    background-color: red;
    border-top-right-radius: 100%;
    position: absolute;
    clip: circle(0px,120px,120px,0px);
    top: 15px;
    left: 160px;
}
#red:hover{
    filter: drop-shadow(0 0 10px rgb(185, 4, 4));
    cursor: pointer;
}

#yellow {
    height: 120px;
    width: 120px;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 160px;
    left: 20px;
}
#yellow:hover{
    filter: drop-shadow(0 0 10px rgb(205, 240, 11));
    cursor: pointer;
}

#green {
    height: 120px;
    width: 120px;
    background-color: green;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 160px;
    left: 160px;
}
#green:hover{
    filter: drop-shadow(0 0 10px rgb(10, 185, 4));
    cursor: pointer;
}

#middle {
    height: 120px;
    width: 120px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 87px;
    left: 90px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: rgb(48, 179, 231);
    width: 65px;
    height: 25px;
    font-size: 15px;
    border-radius: 50%;
}
button:hover{
    cursor: pointer;
    font-weight: bolder;
}
p{
    color: white;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    font-size: 11px;
    width: 100px;
}

@media (min-width:700px) {
    header {
        height: 0px;
    }

    p {
        font-size: large;
        width: 250px;
        margin-top: 100px;
    }
    button {
    width: 100px;
    height: 50px;
    font-size: x-large;
    border-radius: 50%;
    }
    #circle {
        margin: 0px;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        position: relative;
    }
    
    #blue {
        height: 280px;
        width: 280px;
        top: 15px;
        left: 15px;
    }
    
    #red {
        height: 280px;
        width: 280px;
        top: 15px;
        left: 300px;
    }
    
    #yellow {
        height: 280px;
        width: 280px;
        top: 300px;
        left: 15px;
    }
    
    #green {
        height: 280px;
        width: 280px;
        top: 300px;
        left: 300px;
    }
    
    #middle {
        height: 280px;
        width: 280px;
        top: 155px;
        left: 155px;
        align-content: center;
    }
}





