body {
    background-image: url(img/Central_Park_Zoo.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
header {
    width: 100vw;
    height: 5vh;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

header>img {
    margin-left: 20px;
    height: 100px;
    width: 200px;
}

#circle {
    margin-top: 70px;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

#blue {
    height: 120px;
    width: 120px;
    background-color: rgb(16, 86, 143);
    border-top-left-radius: 100%;
    position: absolute;
    clip: circle(0px,120px,120px,0px);
    top: 15px;
    left: 20px;
}

.blue--active {
    filter: drop-shadow(0 0 10px rgb(54, 140, 238));
    cursor: pointer;
    filter: brightness(2);

}

#red {
    height: 120px;
    width: 120px;
    background-color: rgb(165, 1, 1);
    border-top-right-radius: 100%;
    position: absolute;
    clip: circle(0px,120px,120px,0px);
    top: 15px;
    left: 160px;
}
.red--active{
    filter: drop-shadow(0 0 10px rgb(185, 4, 4));
    cursor: pointer;
    filter: brightness(2);

}

#yellow {
    height: 120px;
    width: 120px;
    background-color: rgb(177, 177, 3);
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 160px;
    left: 20px;
}
.yellow--active{
    filter: drop-shadow(0 0 10px rgb(205, 240, 11));
    cursor: pointer;
    filter: brightness(2);

}

#green {
    height: 120px;
    width: 120px;
    background-color: green;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 160px;
    left: 160px;
}
.green--active{
    filter: drop-shadow(0 0 10px rgb(10, 185, 4));
    cursor: pointer;
    filter: brightness(2);
}

#middle {
    height: 120px;
    width: 120px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 2px;
}

button{
    background-color: rgb(48, 179, 231);
    width: 65px;
    height: 25px;
    font-size: 15px;
    border-radius: 50%;
}

button:hover{
    cursor: pointer;
    font-weight: bolder;
}

p{
    color: white;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    font-size: 11px;
    width: 100px;
    line-height: normal;
    margin-top: 12px;
}
#recruta{
    width: 30%;
    padding-left: 32%;
    padding-top: 21%;
}
#kowalski{
    width: 25%;
    padding-left: 40%;
    padding-top: 22%;
}
#capitao{
    width: 35%;
    padding-left: 35%;
    padding-top: 15%;
}
#rico{
    width: 30%;
    padding-left: 35%;
    padding-top: 15%;
}

#gif_nao_foi{
    max-width: 60%;
    padding: 0%;
    margin: -10%;
}

@media (min-width:700px) {
    header {
        height: 0px;
    }

    p {
        font-size: large;
        width: 250px;
        margin: 20px;
    }

    button {
    width: 100px;
    height: 50px;
    font-size: x-large;
    border-radius: 50%;
    }

    #circle {
        margin: 0px;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        position: relative;
    }
    
    #blue {
        height: 280px;
        width: 280px;
        top: 15px;
        left: 15px;
    }
    
    #red {
        height: 280px;
        width: 280px;
        top: 15px;
        left: 300px;
    }
    
    #yellow {
        height: 280px;
        width: 280px;
        top: 300px;
        left: 15px;
    }
    
    #green {
        height: 280px;
        width: 280px;
        top: 300px;
        left: 300px;
    }
    
    #middle {
        height: 280px;
        width: 280px;
        top: 155px;
        left: 155px;
        align-content: center;
    }
}





